html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 1000px;
    background-color: bisque;
}

.glavni {
    height: 100%;
    width: 100%;
}

.prvi {
    height: 10%;
}

.logo {
    position: absolute;
    top: 19px;
    left: 110px;
    font-size: 1.5em;
    font-family: cursive;
}

.logo p {
    position: relative;
    right: 12px;
}

.menu ul {
    overflow: hidden;
    padding-top: 170px;
    padding-left: 90px;
}

.menu li {
    float: left;
    margin-left: 100px;
    padding: 20px;
    font-size: 1.5em;
}

li a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: yellowgreen;
}

.drugi {
    text-align: center;
}

.drugi figcaption {
    margin: 10px;
    font-size: 1.5em;
    font-family: cursive;
}

.styles-picture {
    float: left;
    width: 27%;
    margin: 300px 20px;
    padding: 10px;
}

.styles-picture article {
    width: 70%;
    margin: 20px auto 0 auto;
}