html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 1000px; }

.glavni {
  height: 100%;
  width: 100%; }

.prvi {
  height: 10%; }

.logo {
  position: absolute;
  top: 19px;
  left: 110px;
  font-size: 1.5em;
  font-family: cursive;
  p {
    margin-left: 10px;
    font-family: 'Pacifico', cursive; } }



.zaglavlje {
  text-align: center;
  position: relative;
  margin-top: 42px; }

.menu li {
  float: left;
  margin-left: 160px;
  padding: 20px;
  font-size: 1.5em;
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    &a:hover {
      background-color: yellowgreen; }
 }
}



.footer{
   .footerTop {
  text-align: center;
  background-color: bisque; }

 .footerBottom {
  text-align: center;
  background-color: yellowgreen; }}

.footer > copy {
  float: left; }

.footer > socialIcons {
  float: right; }
