html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 1000px;
  background-color: bisque; }

.glavni {
  height: 100%;
  width: 100%; }

.prvi {
  height: 10%; }

.logo {
  position: absolute;
  top: 19px;
  left: 110px;
  font-size: 1.5em;
  font-family: cursive;
  p {
    position: relative;
    right: 12px; }
}


.menu ul {
  overflow: hidden;
  padding-top: 170px;
  padding-left: 90px;
  li {
    float: left;
    margin-left: 100px;
    padding: 20px;
    font-size: 1.5em;
    a {
      font-size: 1.5em;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: yellowgreen; }
}
}
}

.drugi {
  text-align: center;
  figcaption {
    margin: 10px;
    font-size: 1.5em;
    font-family: cursive; }}



.styles-picture {
  float: left;
  width: 27%;
  margin: 300px 20px;
  padding: 10px;
  article {
    width: 70%;
    margin: 20px auto 0 auto; } }
